@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .lp__body {
    @apply font-sans;
  }

  /*Wrapper*/
  .section__wrapper {
    @apply px-6 py-16 lg:py-24 max-w-7xl mx-auto;
  }

  /* Button Primary */
  .btn__primary {
    @apply bg-secondary-500 px-8 lg:px-10 tracking-wider text-neutrals-500 h-12 lg:h-14 flex justify-center items-center flex-1 uppercase font-bold w-fit gap-3 rounded-xl mt-7 lg:mt-9;
  }

  .btn__secondary {
    @apply border-2 border-primary-200 px-8 lg:px-10 tracking-wider text-primary-200 h-12 lg:h-14 uppercase font-bold gap-3 rounded-xl hover:opacity-80 transition-all duration-500 ease-in-out w-fit;
  }

  /*Typography*/
  .heading__1 {
    @apply text-4xl-mobile lg:text-4xl font-regular leading-tight tracking-tighter text-primary-500;
  }

  .heading__2 {
    @apply text-3xl-mobile lg:text-3xl font-regular leading-tight tracking-tight;
  }

  .heading__3 {
    @apply text-2xl font-regular leading-loose tracking-tight;
  }

  .text__overline {
    @apply text-sm-mobile lg:text-base text-primary-700 tracking-widest uppercase mb-10 lg:mb-12;
  }

  .body__base {
    @apply text-base leading-tight;
  }

  .body__large {
    @apply text-lg leading-loose;
  }

  .body__xlarge {
    @apply text-xl font-light text-primary-500 leading-x-loose;
  }

  .body__sm {
    @apply text-sm font-light text-primary-500 leading-loose;
  }

  .body__x-sm {
    @apply text-x-sm text-primary-500 leading-xx-loose tracking-wider;
  }
}

html,
body {
  scroll-behavior: smooth !important;
}

a {
  transition: all 400ms ease-in-out;
}

a:hover {
  opacity: 0.8;
}

.benefits__cards--wrapper {
  grid-template-columns: repeat(auto-fill, minmax(22rem, 1fr));
  gap: 3rem;
}

.google__cards--wrapper {
  grid-template-columns: repeat(auto-fill, minmax(22rem, 1fr));
  gap: 1.5rem;
}

.faq__section--questions {
  grid-template-columns: repeat(auto-fill, minmax(32rem, 1fr));
  gap: 1.5rem;
}

/*Slider*/
.swiper-slide {
  padding-bottom: 24px;
}
.swiper-horizontal
  > .swiper-pagination-bullets.swiper-pagination-bullets.swiper-pagination-horizontal {
  position: relative !important;
  bottom: 0 !important;
  top: 0 !important;
}

#reviews .swiper-pagination-bullet {
  background-color: #98876c !important;
  opacity: 1 !important;
}
#reviews .swiper-pagination-bullet-active {
  background-color: #eb6439 !important;
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  background-color: #eb6439 !important;
  opacity: 1 !important;
}

.links__wrapper > a {
  color: #eb6439;
}

.links__wrapper svg {
  fill: #eb6439;
}

/*Cookie Eyes Banner*/
.cky-consent-container {
  border-radius: 12px !important;
}

.cky-consent-container .cky-consent-bar {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
  border-radius: none !important;
}

.cky-consent-bar .cky-banner-btn-close {
  top: 12px !important;
  right: 12px !important;
}

.cky-btn {
  border-radius: 8px !important;
  letter-spacing: 0.65px !important;
}
